topology:
  queues:
    - name: "input-queue"
    - name: "processing-queue"
    - name: "prefetch-queue"
  
  topics:
    - name: "events-topic"
      subscriptions:
        - "sub-1"
        - "sub-2"
    - name: "competing-topic"
      subscriptions:
        - "shared-sub"
